.heading {
    background-color: #ffdb58;
    font-family: 'Raleway', sans-serif;
    padding: 2rem;
}

.beatles {
    font-family: 'Modak', cursive;
}

.beatles-score {
    font-family: 'Modak', cursive;
    font-size: 2.5rem;
}